.header {
   border-bottom: toRem(1) solid #bebcbd;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   background-color: $liteColor;
   z-index: 50;
   &__container {
      padding: toRem(10) toRem(0);
      display: flex;
      @include adaptiveValue("min-height", 108, 65);
      justify-content: space-between;
      align-items: center;
      @include adaptiveValue("column-gap", 20, 12, 0, $containerWidth, 991.98);
   }
   // .header__menu
   &__menu {
      @media (max-width: toEm(767.98)) {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         overflow: auto;
         left: -100%;
         transition: left 0.3s;
         z-index: 2;
         background-color: #fff;
         padding: toRem(0) toRem(15) toRem(30) toRem(15);
         @include adaptiveValue("padding-top", 138, 95, 3, 768, 320);
         &::before {
            content: "";
            position: fixed;
            width: 100%;
            @include adaptiveValue("height", 109, 66);
            background-color: #fff;
            z-index: 3;
            top: 0;
            left: -100%;
            transition: left 0.3s;
            border-bottom: toRem(1) solid #bebcbd;
         }
         .menu-open & {
            left: 0;
            &::before {
               left: 0;
            }
         }
      }
      @media (max-width: toEm(540)) {
         padding-bottom: toRem(105);
      }
   }
   // .header__form
   &__search {
      flex-basis: 21.532258%;
      position: relative;
      flex-grow: 1;
      z-index: 4;
      @media (max-width: toEm(767.98)) {
      }
   }
   // .header__action
   &__action {
      position: relative;
      z-index: 4;
      // @media (max-width: toEm(540)) {
      //    position: fixed;
      //    left: 0;
      //    bottom: 0;
      //    width: 100%;
      //    padding: toRem(15);
      //    background-color: #fff;
      //    border-top: toRem(1) solid #bebcbd;
      // }
   }
}

.logo {
   display: flex;
   z-index: 4;
   // .logo__image

   &__image {
      width: toRem(60);
      @include adaptiveValue("width", 60, 40);
      aspect-ratio: 60 / 80;
      position: relative;
   }

   // .logo__content

   &__content {
      padding: toRem(5) 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

   // .logo__title

   &__title {
      font-family: "Merriweather";
      font-style: italic;
      font-weight: 700;
      @include adaptiveValue("font-size", 36, 10);
      @media (max-width: toEm(540)) {
         display: none;
      }
   }

   // .logo__subtitle

   &__subtitle {
      @media (max-width: toEm(540)) {
         display: none;
      }
   }
}

.menu {
   // flex-grow: 1;
   padding-left: toRem(30);
   // .menu__icon
   &__icon {
   }
   // .menu__body
   &__body {
   }
   // .menu__list
   &__list {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      row-gap: toRem(4);
      @include adaptiveValue("column-gap", 25, 10, 0, $containerWidth, 767.98);

      @media (max-width: toEm(767.98)) {
         flex-direction: column;
         row-gap: toRem(25);
      }
   }
   // .menu__item
   &__item.current-menu-item {
      color: $orangeColor;
   }
   // .menu__link
   &__link {
      @include adaptiveValue("font-size", 20, 16, 0, $containerWidth, 767.98);
      font-weight: 500;
      position: relative;

      &::before {
         content: "";
         height: toRem(3);
         background-color: $orangeColor;
         position: absolute;
         top: 100%;
         width: 0;
         left: 50%;
         transition: all 0.3s;
         border-radius: toRem(2);
         margin-top: toRem(2);
      }
      @media (any-hover: hover) {
         &:hover {
            &::before {
               width: 100%;
               left: 0;
            }
         }
      }
      @media (max-width: toEm(767.98)) {
         font-size: toRem(32);
      }
   }
}
.search-form {
   border-radius: toRem(8);
   background-color: #eeeeee;
   position: relative;
   padding-left: toRem(44);
   // .search-form__input
   &__input {
      padding-right: toRem(15);
      height: toRem(44);
      color: $darkColor;
      background-color: transparent;
      border-bottom: transparent;
      transition: border-bottom 0.3s;
      &::placeholder {
         color: $mainColor;
         transition: opacity 0.3s;
      }
      &:focus {
         outline: none;
         border-bottom: 1px solid $hoverColor;
         &::placeholder {
            opacity: 0;
         }
      }
   }
   // .search-form__button
   &__button {
      position: absolute;
      left: 0;
      top: 0;
      width: toRem(44);
      height: toRem(44);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $hoverColor;
         }
      }
   }
}
.action-header {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 1fr;
   gap: toRem(12);
   // .action-header__item
   &__item {
      width: toRem(44);
      height: toRem(44);
      border-radius: toRem(8);
      background-color: #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $hoverColor;
            color: #fff;
         }
      }
   }
}
._icon-cart {
   position: relative;
   span {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      top: 8px;
      right: 5px;

      width: toRem(13);
      height: toRem(13);
      background-color: rgb(159, 0, 0);
      border-radius: 50%;
      color: $liteColor;
   }
}
//Burger Icon
.icon-menu {
   display: none;
   @media (max-width: toEm(767.98)) {
      display: block;
      position: relative;
      width: toRem(30);
      height: toRem(18);
      z-index: 5;
      @media (any-hover: none) {
         cursor: default;
      }
      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: toRem(2);
         background-color: #000;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: calc(50% - toRem(1));
      }
      .menu-open & {
         span {
            width: 0;
         }
         &::before,
         &::after {
         }
         &::before {
            top: calc(50% - toRem(1));
            transform: rotate(-45deg);
         }
         &::after {
            bottom: calc(50% - toRem(1));
            transform: rotate(45deg);
         }
      }
   }
}
